name: RSS Scraper

on:
  schedule:
    - cron: "*/10 * * * *"   # Every 30 minutes
  workflow_dispatch:        # Allow manual trigger

jobs:
  run-rss:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run RSS Collector
        run: python main.py
